.header-wrap {
    height: 80px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: lightsteelblue;
}

.header-logo-wrap {

}

.header-logo-img {

}

.header-title-wrap {

}

.header-title {
    font-size: 3em;
}

.header-nav-wrap {

}

.header-nav-list {

}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-elem {
    margin-right: 15px;
}

.nav-elem:last-child {
    margin-right: 0px;
}

.nav-link {
    font-size: 2em;
}

.header-auth-wrap {
    margin-right: 30px;
}

.auth-link {
    font-size: 2em;
    margin-right: 20px;
}

.header-personal-wrap {
    display: inline-block;
}

.header-logout-wrap {
    display: inline-block;
}

.logout-btn {
    padding: 5px 10px;
}
