.show-wrap {

}

.post-title-text {
    font-size: 3em;
    text-align: center;
}

.post-title-create {
    font-size: 2em;
    text-align: center;

}

.post-img-wrap {

}

.post-img {
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

.post-text-wrap {
    margin-top: 20px;
}

.post-text {
    font-size: 2em;
}

.like-button-wrap {
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.liked-count-text {
    font-size: 2em;
}

.liked-count-wrap {
    margin-right: 10px;
}

.related-wrap {
    margin: 20px 0px;
}

.rel-card-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.rel-img {
    height: 150px;
}

.rel-card {
    border: 1px solid black;
}

.rel-title {
    font-size: 2.5em;
}

.rel-link {
    font-size: 2.5em;
}

.related-title {
    font-size: 3em;
}

.comment_form-wrap {

}

.comment_form {
    font-size: 2em;
}

.comment_form-submit-wrap {
    margin: 20px 0px;
}

.comment_form-submit {
    padding: 5px 10px;
    background-color: steelblue;
}

.comments-wrap {
    margin: 20px 0px;
}

.comments-title-wrap {
    margin: 10px 0px;
}

.comments-title {
    font-size: 2em;
}

.comments-card-wrap {

}

.comments-card {
    margin-bottom: 20px;
}

.comments-name-wrap {
    margin-bottom: 5px;
}

.comments-name {
    font-size: 2em;
}

.comments-text-wrap {

}

.comments-text {
    font-size: 2em;
}
